{
  "trailingComma": "all",
  "tabWidth": 2,
  "arrowParens": "always",
  "bracketSpacing": true,
  "bracketSameLine": true,
  "useTabs": false,
  "semi": true,
  "singleQuote": false,
  "printWidth": 80,
  "htmlWhitespaceSensitivity": "css",
  "experimentalTernaries": true,
  "singleAttributePerLine": true
}
