@font-face {
	font-family: "Hi Melody";
	src: url("../fonts/Hi_Melody/HiMelody-Regular.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

body {
	font-family: "Hi Melody";
	font-size: 1.6rem;
}

#bank__current-balance {
	height: 200px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.current-balance__amount {
	display: flex;
	justify-content: center;
}
.current-balance__amount .balance {
	font-size: 4rem;
	font-weight: 700;
}

button {
	width: 100px;
}

#loan-amount.form-control {
	max-width: 100px !important;
}

#action-box {
	margin-top: 15px;
}

#action-box:nth-of-type(1) {
	margin-top: 0;
}

#logged-out-text {
	font-size: 1.5rem;
	display: flex;
	align-items: center;
}

/*Btn*/
#action-box button {
	width: auto;
	height: 35px;
}
