.container(id="bank__current-balance")
  .row
    .col-6(class="current-balance__text")
      h1 Current balance
      span As of 05/2/2016
    .col-6(class="current-balance__amount")
      span.amount 0.0000 DOP