header
  hgroup
    nav.navbar.bg-body-tertiary
      .container
        span.navbar-brand.mb-0.h1 Login in to get started
        ul.navbar-nav.flex-row.gap-2.align-items-center
          button.btn.btn-light.rounded.rounded-5 User
          button.btn.btn-light.rounded.rounded-5 Pin
          li.nav-item
            a.nav-link(href="#")
              i.bi.bi-arrow-right
