mixin movement(badge, timestamp, amount)
	li.list-group-item.text-bg-light.justify-content-between.d-flex.flex-row.align-items-center
		span.badge.text-bg-danger.align-self-center 
			|	#{badge.qty} 
			|	#{badge.type}
		span
		span.fw-bold DOP #{amount}
