doctype
html
	head
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		title Bankin
	body(data-bs-theme="light")
		include views/header.pug
		#loader
			.spinner
		block content

		
